<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cloudy</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div id = "app">
        <form id = "form-login">
            <input type="text" name = "username" placeholder="Username" v-model="username">
            <input type="password" name = "password" placeholder="Password" v-model="password">
            <p>{{ usernameWarning }}</p>
            <a href = "./templates/signup.html">Create a New Account</a>
            <button type="button" name = "submit" v-on:click="checkCredentials">SIGN UP</button>
        </form>
    </div>

    <script src="../scripts/index.js"></script>
</body>
</html>